@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@background-primary: rgb(43, 43, 43);
@background-secondary: rgb(153, 153, 153);
@background-tertiary: rgb(230, 230, 230);
@font-primary: rgb(246, 246, 246);
@font-secondary: rgb(43, 43, 43);
@font-tertiary: rgb(100, 100, 100);
@btn-primary: rgb(140, 179, 158);
@btn-selected: rgb(140, 179, 158);
@btn-secondary: ;

body {
    font-family: 'Source Sans Pro', serif;
    color: @font-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', sans-serif;
    font-weight: initial;
    color: @font-primary;
}

body, #app, .main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.body {
    display: flex;
    flex: 1;
}

// Component Styles
.comp-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: @background-primary;
    border-bottom: 0.1em solid @background-tertiary;
    box-shadow: 0 0 0.5em 0.4em rgba(0, 0, 0, 0.25);

    button {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.comp-nav {
    flex: 0 0 15em;
    order: -1;
    z-index: 2;
    background-color: @background-primary;
    overflow-y: auto;

    .add-media-button {
        width: 100%;
        border-radius: 0.2em;
        background-color: @btn-primary;
    }
}

.comp-main {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: @background-secondary;

    p, audio, video {
        align-self: center;
    }
}

.comp-file-list {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        display:flex;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;

        div {
            width: 93%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0.1em 0.2em;
        }

        i {
            padding-left: 0.3em;
            padding-right: 0.1em;
            width: 7%;
            color: @font-tertiary;
        }

        i:hover {
            color: @font-primary;
            transform: scale(1.2);
        }
    }

    .item-name:hover {
        color: @font-secondary;
        background-color: @background-tertiary;
    }

    div[data-state=selected] {
        color: @font-secondary;
        background-color: @background-secondary;
    }

    .no-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        padding: 1em 0.2em;

        p {
            text-align: center;
        }
    }
}

.comp-file-reader {
    position: relative;

    input {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
}

.comp-file-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    overflow: hidden;
    position: relative;
    margin: 0.5em;
    font-size: 1.5em;

    ::-webkit-file-upload-button {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }

    i {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.comp-file-autoplay[data-state=selected] {
    color: @btn-selected;
}

.comp-player-video, .comp-player-image {
    max-width: 100%;
    max-height: 100%;
}

.comp-player-image {
    object-fit: contain;
}

.btn {
    border-radius: 0;
}


// Visibility Animation
[data-state=visible] {
    max-width: 100% !important;
}

[data-state=invisible] {
    overflow: hidden;
    max-width: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0 0 0 !important;
}

// Scrollbar
::-webkit-scrollbar
{
    width: 10px;
    background-color: @background-primary;
}

::-webkit-scrollbar-track
{
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: @background-primary;
}

::-webkit-scrollbar-thumb
{
    // background-color: #000000;
    background-color: @background-tertiary;
    // border: 2px solid #555555;
}
